@import url(normalize.css);

@font-face {
  font-family: "Geist";
  src: url("../assets/geist-font/GeistVF.woff2") format("woff2-variations"),
    url("../assets/geist-font/GeistVF.woff") format("woff-variations");
  font-weight: 100 900;
  font-style: normal;
}

:root {
  --lavender-web: #d7d7e5ff;
  --tropical-indigo: #9f9feaff;
  --gray: #808080ff;
  --black: #09090bff;
  --vista-blue: #a1a1eaff;
  --alabaster: #e2e4dc;
  --white: #ffffffff;
  --wisteria: #a8a0cf;
  font-family: "Geist", ui-sans-serif, system-ui, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-size: 1rem;
}

body {
  height: 100vh;
  width: 100vw;
}

button {
  padding: 0;
  margin: 0;
  border: 0;
}

section {
  display: flex;
  min-width: 70%;
  justify-content: center;
  padding-top: 50px;
}

/* Utils */
.muted {
  color: var(--gray);
}

.spin {
  animation: spin 12s linear infinite;
}

.tab > div {
  transition: background-color 0.3s;
}

.tab > .active {
  color: var(--white);
  background-color: var(--vista-blue);
}

@keyframes spin {
  from {
    transform: rotate(0dg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* App */
#app {
  display: flex;
  flex-direction: column;
  flex-basis: 800px;
  align-items: center;
}

h1 {
  margin: 0;
  padding: 0;
  font-size: 2.25rem;
  font-weight: 500;
}

/* Search */
form {
  display: flex;
  margin-top: 3rem;
  gap: 0.5rem;
  width: 100%;
  min-height: 40px;
}

form > * {
  border: 0;
  border-radius: 0.5rem;
}

form > input {
  flex: 1;
  padding: 0.5rem 1rem;
  background-color: var(--lavender-web);
}

form > input:focus {
  outline-color: var(--wisteria);
}

form > button {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-basis: 58px;
  flex-shrink: 0;
  cursor: pointer;
  background-color: var(--tropical-indigo);
}

form > img {
  width: 32px;
  height: 32px;
}

/* Front widget */
#front-widget {
  display: flex;
  margin-top: 2rem;
  width: 100%;
  min-height: 125px;
  justify-content: space-between;
}

.left-bar {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 1rem;
}

.left-bar > div:first-child {
  font-size: 1.5rem;
}

.left-bar > div:first-child + div {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.city-region {
  max-width: 45ch;
}

.right-bar {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.right-bar .condition,
.right-bar .temp-current {
  font-size: 1.5rem;
}

.weather-current {
  display: flex;
  gap: 12px;
}

.weather-current > div:first-child {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

/* Tab widget */
#tab-widget {
  display: flex;
  justify-content: space-between;
  min-height: 120px;
  width: 100%;
  margin-top: 1.5rem;
  background-color: var(--lavender-web);
  border-radius: 0.5rem;
  border: 0;
}

.tab {
  display: flex;
  flex: 1;
  padding: 0.5rem;
}

.tab > div {
  display: flex;
  cursor: pointer;
  flex: 1;
  justify-content: space-between;
  padding: 12px;
  background-color: var(--white);
  border-radius: 0.5rem;
}

.tab > div > div:first-child {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.tab .day {
  font-weight: 600;
}

.tab .weather-icon {
  align-self: flex-end;
  display: flex;
  align-items: center;
}

.tab .temp-wrapper {
  display: flex;
  gap: 0.5rem;
}

/* Main widget */
#main-widget {
  display: flex;
  margin-top: 1rem;
  width: 100%;
  border: 1px solid var(--alabaster);
  border-radius: 0.5rem;
}

#main-widget > div {
  display: flex;
  width: 100%;
  justify-content: space-between;
  padding: 2.25rem 3.25rem 2.25rem 1.5rem;
}

#main-widget .anchor-column {
  display: flex;
  font-size: 1.25rem;
  flex-direction: column;
  gap: 45px;
}

#main-widget .anchor {
  display: flex;
  align-items: center;
  gap: 30px;
}

.anchor > div {
  display: flex;
  flex-direction: column;
}

.icon-wrapper {
  display: flex;
  justify-content: center;
  min-width: 65px;
}

.anchor img {
  max-height: 65px;
}

.main-condition,
.main-humidity,
.main-uv {
  font-size: 1.5rem;
  font-weight: 500;
}

.temp-column {
  display: flex;
  align-items: center;
  gap: 1.5rem;
}

.temp-column > div {
  display: flex;
  flex-direction: column;
  font-size: 2rem;
}

.main-temprange {
  display: flex;
  gap: 1rem;
  font-size: 2rem;
}
