@import url(normalize.css);

@font-face {
  font-family: "Geist";
  src: url("../assets/geist-font/GeistVF.woff2") format("woff2-variations"),
    url("../assets/geist-font/GeistVF.woff") format("woff-variations");
  font-weight: 100 900;
  font-style: normal;
}

:root {
  --lavender-web: #d7d7e5ff;
  --tropical-indigo: #9f9feaff;
  --gray: #808080ff;
  --black: #09090bff;
  --vista-blue: #a1a1eaff;
  --alabaster: #e9ebe5ff;
  --white: #ffffffff;
  font-family: "Geist", ui-sans-serif, system-ui, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-size: 1rem;
}

body {
  height: 100vh;
  width: 100vw;
}

button {
  padding: 0;
  margin: 0;
  border: 0;
}

section {
  display: flex;
  min-width: 70%;
  justify-content: center;
  padding-top: 50px;
}

/* App */
#app {
  display: flex;
  flex-direction: column;
  flex-basis: 700px;
  align-items: center;
}

h1 {
  margin: 0;
  padding: 0;
  font-size: 2.25rem;
  font-weight: 500;
}

form {
  display: flex;
  margin-top: 3rem;
  gap: 0.5rem;
  width: 100%;
  min-height: 40px;
}

form > * {
  border: 0;
  border-radius: 0.5rem;
}

form > input {
  flex: 1;
  padding: 0.5rem 1rem;
  background-color: var(--lavender-web);
}

form > button {
  flex-basis: 58px;
  flex-shrink: 0;
  background-color: var(--tropical-indigo);
}

form > img {
  width: 32px;
  height: 32px;
}
